*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.DS_Store
.idea/*
.idea/


#secret files from google
credentials.json
cmd/token.json
token.json

*.pdf
*.xls
*.txt
data/

